.contacts {
	min-height: 70vh;
	background-color: var(--background-light);
	color: var(--text-dark);
}

.contacts .section__inner {
	flex-direction: row;
	justify-content: space-between;
	justify-items: center;
	width: 100%;
	gap: 2rem;
}

.contacts .left {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contacts .left,
.contacts .right {
	width: calc(50% - var(--side-padding));
}

.contacts .right iframe {
	width: 100%;
	aspect-ratio: 1/1;
	border-radius: var(--border-radius);
}

.contact-items {
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

.contact-items .item {
	display: flex;
	flex-direction: column;
	gap: .25rem;
}

.contact-items .item .title {
	font-family: 'Inter', sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.6;
	letter-spacing: .05rem;
}

.contact-items .item a {
	width: fit-content;
	position: relative;
	text-decoration: none;
	color: var(--text-dark);
	filter: invert(.25);
	transition: filter .2s ease;
}

.contact-items .item a:hover {
	filter: none;
}

.contact-items .item a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: .2rem;
	background-color: transparent;
	transition: width .2s ease;
}

.contact-items .item a:hover::after {
	width: 100%;
	background-color: var(--text-dark);
}

@media screen and (max-width: 1024px) {
	.contacts .section__inner {
		flex-direction: column;
	}

	.contacts .left,
	.contacts .right {
		width: 90%;
	}

	.contacts .left {
		align-items: center;
		justify-content: center;
	}

	.contact-items .item {
		align-items: center;
		justify-content: center;
	}

	.contacts .right iframe {
		width: 100%;
	}
}