.home {
	min-height: 50vh;
}

.home .section__inner {
	gap: 5rem;
}

.slogan {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Italiana', serif;
	line-height: 1.3;
	letter-spacing: .02rem;
	font-size: 5rem;
}

.slogan div {
	display: flex;
}

.slogan span {
	color: var(--accent);
}

.home__buttons {
	display: flex;
	gap: 2rem;
}

.home__buttons button {
	padding: .75rem 1.5rem;
	border: none;
	border-radius: 9999px;
	font-weight: 600;
	font-size: 1rem;
	cursor: pointer;
	transition: filter .2s ease, background-color .2s ease, color .2s ease;
}

.home__buttons button.filled {
	background-color: var(--accent);
	color: var(--text-dark);
	border: .2rem solid var(--accent);
}

.home__buttons button.filled:hover {
	filter: brightness(1.25);
}

.home__buttons button.outline {
	background-color: var(--background-dark);
	color: var(--text-light);
	border: .2rem solid var(--accent);
}

.home__buttons button.outline:hover {
	background-color: var(--accent);
	color: var(--text-dark);
}

@media screen and (max-width: 1024px) {
	.slogan {
		font-size: 3rem;
	}
}