.offer {
	position: relative;
	min-height: 70vh;
}

.offer .section__inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5rem;
}

.offer__item {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.offer__item.reverse {
	flex-direction: row-reverse;
}

.image-wrapper {
	position: relative;
	width: 15rem;
	aspect-ratio: 1/1;
	flex-shrink: 0;
}

.image-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: var(--border-radius);
	position: relative;
	z-index: 2;
}

.image-border {
	position: absolute;
	top: 1rem;
	left: 1rem;
	width: 100%;
	height: 100%;
	border: .25rem solid var(--accent);
	border-radius: var(--border-radius);
	z-index: 1;
}

.offer__item.reverse .image-border {
	top: unset;
	left: unset;
	bottom: 1rem;
	right: 1rem;
}

.offer__item .text-block {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.offer__item .title {
	font-family: 'Inter', sans-serif;
	font-size: 1.5rem;
	font-weight: bold;
	line-height: 1.6;
	letter-spacing: .05rem;
}

.offer__text {
	display: flex;
	font-family: 'Inter', sans-serif;
	color: var(--text-gray);
	font-size: .9rem;
	line-height: 1.6;
	text-align: justify;
}

@media screen and (max-width: 1024px) {
	.offer .section__inner {
		width: 90%;
	}

	.offer__item {
		gap: 2rem;
	}

	.image-wrapper {
		width: 12.5rem;
	}

	.image-border {
		border-width: .2rem;
	}
}

@media (max-width: 768px) {
	.offer .section__title {
		font-size: 1.25rem;
	}

	.offer__item .title {
		font-size: 1rem;
	}

	.offer__text {
		font-size: .85rem;
	}

	.image-wrapper {
		width: 25%;
	}
}