/* Variables */

@import url('/data/css/variables.css');

/* Text styles */

@import url('/data/css/text/paragraph.css');
@import url('/data/css/text/span.css');

/* Elements styles */

@import url('/data/css/elements/logo.css');
@import url('/data/css/elements/header.css');
@import url('/data/css/elements/footer.css');
@import url('/data/css/elements/select.css');
@import url('/data/css/elements/section.css');

/* Section styles */

@import url('/data/css/sections/image-placeholder.css');
@import url('/data/css/sections/home.css');
@import url('/data/css/sections/statistics.css');
@import url('/data/css/sections/offer.css');
@import url('/data/css/sections/contacts.css');

/* Base styles */

@import url('/data/css/base.css');