:root {
	--bg-main: #FFFFFF;
	--bg-light: #FFEED8;
	--accent: #442808;
	--text-dark: #333;
	--border-radius: .25rem;
	
	--breezium-border-radius: var(--border-radius);
	--breezium-padding: .25rem .5rem;
	--breezium-select-selected-width: fit-content;
	--breezium-select-option-height: fit-content;
}