.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem var(--side-padding);
	position: sticky;
	top: 0;
	z-index: 1000;
	background: var(--background-dark);
}

.header::before {
	content: '';
	position: absolute;
	inset: 0;
	background-image: repeating-linear-gradient(to right,
			rgba(255, 255, 255, 0) 0,
			rgba(255, 255, 255, .05) .1rem,
			transparent .1rem,
			transparent 10rem);
	pointer-events: none;
	z-index: 0;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	cursor: pointer;
}

.logo img {
	width: 3rem;
	aspect-ratio: 1/1;
	transition: transform .2s ease;
}

.logo:hover img {
	transform: rotate(20deg);
}

.logo p {
	font-family: 'Gloock', serif;
	font-size: 2rem;
	color: var(--accent);
	letter-spacing: .03em;
	user-select: none;
	transition: filter .2s ease;
}

.logo:hover p {
	filter: brightness(1.25);
}

.header nav ul {
	list-style: none;
	display: flex;
	gap: 1.5rem;
}

.header nav a {
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--text-light);
	font-weight: 600;
	transition: color .2s;
	cursor: pointer;
}

.header nav a:hover {
	color: var(--accent);
}

.control-panel {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}