.section {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 4rem var(--side-padding);
	background-color: var(--background-dark);
}

.section.dark {
	background: var(--background-dark);
}

.section.dark::before {
	content: '';
	position: absolute;
	inset: 0;
	background-image: var(--background-lines);
	pointer-events: none;
	z-index: 0;
}

.section__inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1000px;
}

.section__title {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Italiana', serif;
	font-size: 2.5rem;
	line-height: 1.3;
}

.section__subtitle {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
}

@media screen and (max-width: 1024px) {
	.section {
		padding: 2rem var(--side-padding);
	}

	.section__inner {
		width: 90%;
	}

	.section__title {
		font-size: 2rem;
	}
}